body {
  background-image: url('https://raw.githubusercontent.com/hackherquest/hackherquest.github.io/main/pictures/girl1.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
}

.navbar {
  list-style-type: none;
  padding: 20px;
  overflow: hidden;
  background-color: #333;

  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 0%;
  width: 80%;
}

.navbar-item {
  float: left;
}

.navbar-item a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
}

.navbar-item a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #d41ea6;
}

/* Responsive navbar */
.icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .navbar-item {
    float: none;
    display: none;
    width: 100%;
  }
  .navbar-item a {
    text-align: left;
  }
  .icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 14px 16px;
    background-color: #333;
    color: white;
    font-size: 24px;
    cursor: pointer;
  }
}

/* Additional CSS for responsive class */
.navbar.responsive .navbar-item {
  display: block;
}

/* Box styles */
.box {
  background-color: rgb(0 0 0 / 0.7);
/*   background-color: rgba(0, 0, 0, 0.85); */
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0; /* Remove top margin */
  margin-bottom: 2%;
  width: 80%;
  padding: 20px;
}

.box-left {
  background-color: rgb(0 0 0);
  color: #fff;
  margin-left: 1%;
  margin-right: auto;
  margin-top: 0; /* Remove top margin */
  margin-bottom: 2%;
  width: 70%;
  padding: 20px;
}

.box-right {
  background-color: rgb(0 0 0);
  color: #fff;
  margin-left: auto;
  margin-right: 1%;
  margin-top: 0; /* Remove top margin */
  margin-bottom: 2%;
  width: 70%;
  padding: 20px;
}

.white-text {
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  margin-left: 2%;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8); /* Add a dark shadow for readability. */
  line-height: 1.5; /* Increase line-height for readbility. */
}

.white-text li {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  margin-left: 0%;
  margin-right: 5%;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8); /* Add a dark shadow */
}

.logo {
  width: 40%;
  min-width: 300px;
}

.button {
  border: none;
  padding: 16px 32px;
  display: inline-block;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;

  text-align: center;
  text-decoration: none;

  font-weight: bold;
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
}

.pink-button {                   
  background-color: #F00E86; 
  color: white;
  border-radius: 8px;
}

.pink-button:hover {                   
  background-color: #f885c2; 
}

.white-button {
  background-color: white;
  color: black;
  border-radius: 8px;
}

.white-button:hover {
  background-color: #d7d7d7;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #000;
}
